<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be2c3">  <td>21/03/30 12:19:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MGW_172_31_31_76.Initializtion()[pri:0, instance:TestCases.MGW_172_31_31_76@7ea37dbf]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/03/30 12:20:01</td>   <td>3010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MGW_172_31_31_76.Login()[pri:0, instance:TestCases.MGW_172_31_31_76@7ea37dbf]">Login</td> 
  <td>main@1990098664</td>   <td></td> </tr>
</table>
